extend layout
block app
    header
        img.eye(src='/images/logo.png')
        h1  Welcome to Kylolink
        p   • a different way of thinking •
    .container.size
        .main-content
            p
                | Vivamus hendrerit arcu sed erat molestie
                | vehicula. Sed auctor neque eu tellus
                | rhoncus ut eleifend nibh porttitor. Ut in.
            p
                | Donec congue lacinia dui, a porttitor
                | lectus condimentum laoreet. Nunc eu
                | ullamcorper orci. Quisque eget odio ac
                | lectus vestibulum faucibus eget in metus.
                | In pellentesque faucibus vestibulum. Nulla
                | at nulla justo, eget luctus tortor.
        .sidebar
            .widget
                h1 Widget
                p
                    | Sed auctor neque eu tellus rhoncus ut
                    | eleifend nibh porttitor. Ut in nulla enim.
                    br
                    br
                    span.btn Click Me
                //-p
                    //-| Vivamus hendrerit arcu sed erat molestie
                    //-| vehicula.
    footer.size
        span.copyright  &copy; Copyright 2013 Kylobite. All rights reserved.
        span.engine     Running on Node.js with Express, Jade, and Stylus
    
block javascript
    //script(src='/libs/angular.js')
    //- Remove jquery when angular is actually used
    script(src='/libs/jquery.js')
    //script(src='/javascripts/ng.js')
    script(src='/javascripts/effects.js')
    script
        var size  = (100 - (((document.body.clientWidth) * 0.01) * 2)) + "%";
        var sizes = document.getElementsByClassName("size");
        for (var i = 0, j = sizes.length; i < j; i += 1) {
            sizes[i].style.width = size;
        }