!!!5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1  Kylolink's Blog
            p   a different way of thinking
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            span.copyright  &copy; Copyright 2013 Kylobite. All rights reserved.
            span.engine     Running on Node.js with Express, Jade, and Stylus