!!!5
meta(charset='utf-8')
title= title
link(rel='stylesheet', href='/stylesheets/style.css')
header
    img(src='/images/logo.png')
    h1  Welcome to Kylolink
    p   • a different way of thinking •
.app(ng-app='app')
    block app
.modal
    | CLICK THE POP UP
block javascript