!!!5
meta(charset='utf-8')
title= title
link(rel='stylesheet', href='/stylesheets/style.css')
header
    h1  Welcome to Kylolink
    p   a different way of thinking
.app(ng-app='app')
    block app
.modal
    | THIS IS A POP UP!
block javascript