extend layout
block content
    p 
        | Hello, #{user}.
        br
        | We have been expecting you.
        br
        | Please have a seat.

block sidebar
    .widget
        h1 Widget
        p 
            | We have been watching.
            | We have been waiting.