@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Quicksand')

global-reset()

main-color          = #708090 //#fa5b4d
background-colour   = #faf9f0

body
    font-family 'Helvetica'
    background-color background-colour
    color #444

header
    font-family 'Quicksand'
    padding 50px 10px
    text-align center
    background-color main-color
    border-bottom 1px solid darken(main-color, 30%)
    text-shadow 0 -1px 0 darken(main-color, 30%)
    h1
        font-size 28px
        color #fff
    p
        font-size 15px
        color darken(#fff, 15%)

.container
    width 60%
    margin 50px auto
    overflow hidden

.main-content
    float left
    width 50%

    p
        margin-bottom 20px

.sidebar
    float left
    width 50%

    .widget
        border-radius 3px
        border 1px solid #ccc
        margin-left 20px
        background-color background-colour
        box-shadow inset 0 0 0 3px rgba(#fff, 0.8), 0 3px 0 -2px rgba(#000, 0.1)

        h1
            font-family 'Quicksand'
            margin 13px 10px 4px
            padding-bottom 10px
            border-bottom 1px dotted #ddd
            border-radius 2px 2px 0 0
            margin-bottom 10px

        p
            font-size 13px
            padding 0 10px
            margin-bottom 10px

p
    line-height 1.8

footer
    width 60%
    margin 50px auto
    border-top 1px dotted #ccc
    padding-top 5px
    font-size 13px
    span
        padding-top 2px
    span.copyright
        float left
    span.engine
        float right












